In [1]:
import pandas as pd
import nltk
# nltk.download('all')
import re
import numpy as np
import collections
import sklearn as sk
import string
from nltk.corpus import stopwords
from wordcloud import WordCloud, STOPWORDS
stopwords = set(STOPWORDS)

In [7]:
df = pd.read_csv("../A_Source_Data/cp2077_reviews.csv.zip", compression="zip")
df.astype(str).apply(lambda x: x.str.encode('ascii', 'ignore').str.decode('ascii'))
df["Review"] = df["Review"].astype("str")
df

,Review,Recommended or Not Recommended,Date Timestamp Created
0,"Been here since day 1, and I am someone who ca...",True,1645046263
1,Had to replay this immediately to demolish Ada...,True,1663224196
2,Patch 1.5 fixed everything for me. \nThe quest...,True,1645267750
3,Watches Edgerunners -> Downloads Cyberpunk 207...,True,1667117035
4,I remember hearing about Cyberpunk 2077 around...,True,1664423074
...,...,...,...
16594,boobs :D,True,1608792512
16595,"+ The great main story, cyberpunk atmosphere a...",True,1608792267
16596,If you got the hardware to run this game you d...,True,1608777643
16597,the glitches in my experience have not been en...,True,1608777582
16598,I frankly don't get all the negative press. Th...,True,1608770360

In [8]:
def data_cleaning(raw_data):
    raw_data = raw_data.translate(str.maketrans('', '', string.punctuation + string.digits)) 
    words = raw_data.lower().split() 
    # stops = set(stopwords.words( "english")) 
    stops = set(stopwords)
    # stops = stopwords.words('english')
    useful_words = [w for w in words if not w in stops]
    # use regex to change any word with cyberpunk in it to cyberpunk
    useful_words = [re.sub(r'\b.*cyberpunk.*\b', 'cyberpunk', w) for w in useful_words]
    useful_words = [re.sub(r'c.{6,8}k', 'cyberpunk', w) for w in useful_words]
    useful_words = [w.replace('cyber punk', 'cyberpunk') for w in useful_words]
    useful_words = [w.replace('cyberpunks', 'cyberpunk') for w in useful_words]
    useful_words = [w.replace('cyber punk ', 'cyberpunk') for w in useful_words]
    useful_words = [w.replace('cyberpunk2077', 'cyberpunk') for w in useful_words]
    useful_words = [w.replace('cyberpunk 2077', 'cyberpunk') for w in useful_words]
    useful_words = [w.replace('cyberpunk2077 ', 'cyberpunk') for w in useful_words]
    useful_words = [w.replace('cyberpunk 2077 ', 'cyberpunk') for w in useful_words]
    useful_words = [w.replace('cyberpunk2077game', 'cyberpunk') for w in useful_words]
    useful_words = [w.replace('cyberpunk2077 game', 'cyberpunk') for w in useful_words]
    useful_words = [re.sub(r'[^\w\s]','',w) for w in useful_words]
    return( " ".join(useful_words))

In [9]:
df['Review']=df['Review'].apply(data_cleaning)

In [10]:
# make a set_column to count the number of words in each review
df["review_len"] = df["Review"].apply(lambda x: len(x.split()))
df

,Review,Recommended or Not Recommended,Date Timestamp Created,review_len
0,day someone came ps version game quite journey...,True,1645046263,259
1,replay immediately demolish adam smasher,True,1663224196,5
2,patch fixed everything quests make sense fixer...,True,1645267750,57
3,watches edgerunners downloads cyberpunk time life,True,1667117035,6
4,remember hearing cyberpunk around announced in...,True,1664423074,253
...,...,...,...,...
16594,boobs d,True,1608792512,2
16595,great main story cyberpunk atmosphere good vis...,True,1608792267,18
16596,got hardware run game definitely,True,1608777643,5
16597,glitches experience enough hold awesomeness ga...,True,1608777582,8
16598,frankly dont negative press game amazing right...,True,1608770360,39

In [23]:
df["review_len"] = df['review_len'].astype(int)

In [24]:
df.dtypes

Review                            object
Recommended or Not Recommended      bool
Date Timestamp Created             int64
review_len                         int64
dtype: object

In [37]:
ast = {}
for x in df['review_len']:
    if x in ast:
        ast[x] += 1
    else:
        ast[x] = 1

ast

{259: 6,
 5: 630,
 57: 58,
 6: 493,
 253: 4,
 4: 669,
 277: 8,
 77: 43,
 74: 56,
 39: 107,
 163: 8,
 127: 36,
 1: 787,
 17: 204,
 647: 1,
 139: 21,
 7: 468,
 50: 64,
 14: 256,
 684: 1,
 231: 7,
 43: 107,
 449: 5,
 473: 1,
 16: 220,
 20: 174,
 695: 2,
 713: 4,
 314: 5,
 674: 7,
 48: 78,
 290: 7,
 690: 3,
 44: 83,
 2: 787,
 334: 4,
 258: 10,
 89: 44,
 3: 713,
 210: 16,
 330: 5,
 274: 4,
 69: 42,
 217: 8,
 595: 2,
 153: 12,
 702: 3,
 65: 53,
 64: 51,
 193: 19,
 252: 7,
 679: 4,
 8: 399,
 425: 2,
 154: 15,
 182: 17,
 111: 22,
 21: 160,
 41: 91,
 11: 313,
 165: 15,
 13: 237,
 354: 5,
 362: 4,
 174: 20,
 9: 322,
 138: 24,
 771: 1,
 125: 24,
 373: 5,
 181: 8,
 714: 3,
 18: 194,
 215: 14,
 591: 2,
 388: 1,
 324: 3,
 323: 5,
 71: 58,
 26: 143,
 73: 38,
 673: 2,
 381: 3,
 606: 3,
 12: 261,
 35: 109,
 90: 29,
 276: 4,
 228: 8,
 142: 13,
 520: 1,
 97: 31,
 741: 2,
 278: 7,
 697: 3,
 249: 9,
 593: 3,
 716: 5,
 53: 64,
 91: 27,
 108: 37,
 131: 16,
 320: 6,
 146: 22,
 15: 232,
 295: 2,
 503: 2,
 33: 115,
 29: 117,
 114: 28,
 84: 36,
 143: 17,
 63: 55,
 275: 6,
 51: 70,
 30: 143,
 107: 26,
 157: 15,
 545: 2,
 60: 49,
 10: 346,
 550: 2,
 159: 15,
 602: 2,
 304: 5,
 191: 8,
 25: 132,
 430: 3,
 417: 4,
 211: 10,
 262: 9,
 689: 3,
 596: 1,
 36: 82,
 399: 4,
 100: 36,
 653: 4,
 186: 12,
 34: 120,
 155: 14,
 326: 2,
 692: 1,
 68: 35,
 102: 39,
 420: 2,
 737: 1,
 479: 1,
 24: 128,
 313: 4,
 672: 1,
 408: 2,
 557: 2,
 85: 36,
 336: 1,
 140: 21,
 343: 10,
 271: 15,
 406: 3,
 123: 16,
 434: 1,
 72: 57,
 28: 127,
 242: 7,
 61: 49,
 0: 139,
 46: 76,
 530: 1,
 98: 31,
 401: 3,
 701: 1,
 177: 12,
 94: 37,
 445: 2,
 38: 100,
 135: 18,
 556: 2,
 311: 4,
 268: 6,
 32: 122,
 54: 70,
 213: 10,
 120: 23,
 726: 4,
 129: 24,
 244: 7,
 40: 81,
 156: 21,
 55: 60,
 312: 7,
 657: 3,
 722: 4,
 721: 4,
 698: 3,
 82: 38,
 270: 11,
 418: 4,
 37: 100,
 208: 8,
 234: 4,
 493: 1,
 19: 174,
 78: 41,
 566: 1,
 23: 135,
 47: 66,
 27: 122,
 280: 6,
 764: 1,
 711: 4,
 95: 34,
 117: 23,
 207: 11,
 76: 41,
 152: 13,
 521: 3,
 341: 8,
 390: 4,
 410: 3,
 106: 21,
 92: 26,
 585: 3,
 197: 11,
 168: 16,
 22: 128,
 255: 5,
 229: 6,
 67: 44,
 610: 4,
 309: 3,
 79: 40,
 554: 2,
 31: 104,
 499: 2,
 121: 14,
 325: 4,
 247: 11,
 226: 5,
 427: 3,
 141: 15,
 189: 6,
 133: 25,
 671: 1,
 132: 21,
 87: 35,
 188: 9,
 81: 36,
 118: 24,
 717: 5,
 370: 6,
 478: 3,
 83: 38,
 130: 22,
 469: 3,
 206: 6,
 428: 1,
 148: 19,
 327: 5,
 444: 1,
 648: 1,
 404: 5,
 96: 34,
 59: 53,
 448: 4,
 86: 26,
 245: 6,
 511: 1,
 688: 2,
 452: 1,
 665: 1,
 119: 25,
 374: 6,
 250: 8,
 666: 3,
 296: 4,
 62: 54,
 99: 20,
 597: 4,
 662: 1,
 66: 53,
 173: 17,
 516: 5,
 224: 6,
 283: 6,
 103: 19,
 402: 3,
 52: 54,
 178: 9,
 806: 1,
 167: 10,
 150: 10,
 238: 9,
 104: 19,
 151: 19,
 75: 45,
 719: 1,
 88: 34,
 496: 3,
 185: 12,
 116: 23,
 305: 6,
 218: 9,
 285: 9,
 367: 4,
 101: 25,
 440: 2,
 618: 1,
 517: 3,
 225: 6,
 212: 9,
 195: 6,
 347: 3,
 678: 5,
 681: 2,
 172: 9,
 203: 9,
 728: 3,
 248: 4,
 379: 1,
 164: 9,
 443: 2,
 192: 8,
 299: 7,
 288: 4,
 93: 34,
 42: 82,
 161: 9,
 227: 7,
 403: 1,
 136: 20,
 175: 17,
 251: 2,
 70: 46,
 223: 7,
 518: 1,
 170: 11,
 508: 2,
 292: 9,
 200: 13,
 302: 5,
 221: 5,
 122: 21,
 708: 1,
 160: 15,
 209: 12,
 885: 1,
 293: 4,
 723: 3,
 110: 22,
 536: 1,
 58: 44,
 233: 13,
 134: 11,
 49: 76,
 356: 2,
 105: 30,
 220: 5,
 654: 2,
 176: 13,
 162: 16,
 169: 15,
 504: 2,
 552: 2,
 232: 6,
 693: 2,
 147: 14,
 190: 9,
 214: 9,
 272: 8,
 491: 1,
 184: 8,
 45: 79,
 204: 6,
 80: 38,
 447: 1,
 317: 4,
 264: 6,
 179: 6,
 256: 4,
 124: 14,
 230: 9,
 432: 3,
 235: 6,
 635: 1,
 266: 5,
 115: 23,
 369: 3,
 201: 8,
 397: 5,
 628: 6,
 187: 12,
 384: 5,
 263: 7,
 782: 1,
 321: 3,
 548: 2,
 113: 15,
 291: 2,
 538: 4,
 56: 59,
 660: 2,
 380: 5,
 727: 2,
 145: 14,
 485: 1,
 198: 10,
 149: 16,
 346: 2,
 329: 2,
 158: 16,
 664: 1,
 260: 4,
 567: 1,
 196: 7,
 458: 2,
 303: 6,
 254: 3,
 345: 5,
 137: 11,
 301: 4,
 194: 12,
 467: 4,
 171: 12,
 720: 4,
 494: 1,
 273: 6,
 237: 6,
 337: 4,
 472: 3,
 706: 3,
 614: 2,
 652: 1,
 246: 5,
 219: 9,
 353: 1,
 319: 3,
 332: 3,
 686: 2,
 318: 4,
 616: 5,
 368: 3,
 300: 3,
 411: 3,
 183: 6,
 640: 2,
 578: 1,
 180: 10,
 582: 1,
 128: 22,
 433: 3,
 534: 5,
 415: 1,
 112: 18,
 378: 3,
 109: 19,
 465: 3,
 308: 4,
 747: 1,
 463: 4,
 338: 8,
 744: 1,
 349: 3,
 144: 20,
 495: 2,
 386: 1,
 572: 1,
 541: 1,
 522: 3,
 639: 1,
 761: 2,
 460: 1,
 265: 7,
 236: 10,
 298: 6,
 429: 1,
 435: 6,
 385: 4,
 342: 7,
 166: 11,
 202: 9,
 424: 2,
 464: 2,
 750: 1,
 509: 2,
 357: 3,
 431: 3,
 307: 4,
 626: 2,
 377: 3,
 456: 3,
 687: 1,
 696: 1,
 279: 6,
 603: 2,
 286: 6,
 269: 7,
 240: 7,
 645: 1,
 281: 11,
 661: 1,
 199: 12,
 565: 2,
 407: 3,
 340: 4,
 412: 3,
 553: 1,
 436: 2,
 646: 1,
 241: 7,
 126: 19,
 523: 2,
 483: 2,
 691: 3,
 421: 1,
 287: 2,
 551: 1,
 749: 1,
 598: 3,
 333: 4,
 583: 1,
 450: 1,
 501: 2,
 707: 1,
 398: 2,
 676: 2,
 216: 11,
 644: 1,
 574: 1,
 393: 1,
 361: 2,
 745: 1,
 641: 1,
 315: 5,
 544: 3,
 409: 3,
 505: 2,
 392: 2,
 586: 1,
 306: 3,
 414: 1,
 560: 1,
 609: 2,
 331: 2,
 700: 2,
 600: 1,
 261: 6,
 442: 4,
 284: 5,
 335: 1,
 526: 1,
 656: 2,
 389: 2,
 514: 1,
 400: 3,
 624: 1,
 413: 1,
 350: 2,
 576: 1,
 542: 2,
 222: 6,
 1236: 1,
 739: 1,
 455: 1,
 371: 3,
 669: 1,
 528: 2,
 507: 2,
 344: 3,
 659: 1,
 471: 2,
 365: 2,
 239: 5,
 359: 5,
 555: 1,
 535: 1,
 446: 2,
 453: 1,
 391: 1,
 422: 3,
 322: 3,
 547: 3,
 498: 2,
 710: 2,
 439: 1,
 405: 1,
 205: 7,
 543: 1,
 486: 1,
 736: 1,
 927: 1,
 634: 2,
 725: 3,
 376: 4,
 732: 1,
 441: 4,
 257: 6,
 515: 1,
 364: 2,
 310: 7,
 742: 1,
 316: 2,
 546: 1,
 622: 1,
 729: 1,
 734: 1,
 477: 2,
 658: 1,
 438: 2,
 466: 3,
 462: 4,
 426: 2,
 351: 4,
 387: 3,
 451: 3,
 282: 3,
 243: 6,
 766: 1,
 363: 1,
 633: 1,
 621: 2,
 489: 1,
 655: 1,
 731: 1,
 358: 2,
 663: 1,
 454: 3,
 590: 1,
 559: 1,
 540: 1,
 497: 2,
 416: 3,
 680: 1,
 573: 1,
 423: 3,
 703: 3,
 724: 1,
 643: 1,
 580: 1,
 267: 3,
 475: 1,
 372: 3,
 564: 1,
 328: 2,
 630: 1,
 704: 1,
 487: 1,
 289: 3,
 637: 1,
 694: 3,
 763: 1,
 533: 1,
 529: 1,
 482: 2,
 577: 1,
 735: 1,
 1189: 1,
 675: 1,
 297: 2,
 537: 3,
 383: 2,
 617: 1,
 394: 1,
 751: 1,
 525: 1,
 375: 1,
 599: 1,
 527: 1,
 743: 1,
 395: 1,
 636: 1,
 531: 1,
 339: 2,
 896: 1,
 476: 2,
 396: 1,
 611: 1,
 1052: 1,
 718: 1,
 484: 1,
 348: 1,
 355: 2,
 733: 1,
 604: 1,
 649: 1,
 712: 1,
 650: 1,
 677: 1,
 437: 2,
 524: 1,
 642: 1,
 682: 1,
 625: 1}